.menu-btn{
    display: inline-block;
    > a{
        border: 1px solid #f4f4f4;
        font-size: 18px;
        font-weight: 400;
        padding: 20px 40px !important;
        border-radius: 4px;
        text-transform: capitalize;
    }
}
.menu-btn > a:hover{
    background: $main-color;
    border-color: $main-color;
    color: #fff !important;
}
.uni-btn{
    &__primary{
        background: #7bb560;
        background-image: linear-gradient(135deg, #7bb560 0%, $main-color 100%);
        border: none;
        padding: 20px 30px;
        color: #fff;
        &:hover{
            background: $main-color;
            color: #fff;
            opacity: .8;
        }
    }
}
@media (max-width: $md-max){
    .menu-btn > a{
        display: none !important;
    }
}
