#uni-header{
    padding: 0px 3% 0px 3%;
}
.uni-header{
    background: $headline-color;
    &__menu{
        float: right;
        position: relative;
        padding-right: 40px;
    }
    &__list{
        position: relative;
        > li{
            position: relative;
            display: inline-block;
            > a {
                display: inline-block;
                font-size: $font-base-pc;
                line-height: 16px;
                padding: 52px 20px;
                text-transform: uppercase;
                color: #fff;
                
                
            }
        }
        li{
            a:hover{
                color: $main-color;
            }
            &.active{
                >a{
                    color: $main-color;
                }
            }
            &:first-child a{
                padding-left: 0;
            }  
        }
    }
    &__sub-dropdown{
        > li > a{
            color: #fff;
        }
        width: 240px;
        background: lightblue;
        position: absolute;
        left: 0%;
        top: 100%;
    }
    &__toggle{
        position: absolute;
        right: 0;
        color: #fff;
        font-size: 24px;
        height: auto;
        display: block;
        top: 50%;
        transform: translateY(-50%);
    }
    &__logo{
        display: inline-flex;
        height: 100%;
        align-items: center;
    }
    &__img{
        height: 60px;
    }
    &__item{
        &-children{
            > a{
                &::after{
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f107";
                    float: right;
                    margin-left: 7px;
                }
            }
        }
    }
}


